
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,900;1,800;1,900&display=swap');
/* html, */
body * {
  padding: 0;
  margin: 0;
  font-family: Raleway -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif imp !important;
  }
  html {
    scroll-behavior:smooth ;
  }

.h-75v{
  height:75vh
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities { 
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,900;1,800;1,900&display=swap');
  /* body * {
    font-family:'Raleway', sans-serif !important;
  } */
  section{
    margin:5rem auto;
  }
  .absolute-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  .background-gradient{
    background-image:linear-gradient(
      135deg
      ,#667eea,#764ba2)
    }
    
}